[main]
# Or: /usr/local/bin/gfind  -- for GNU find in macOS (brew it).
find-cmd = /usr/bin/find
wc-cmd = /usr/bin/wc
sort-cmd = /usr/bin/sort
uniq-cmd = /usr/bin/uniq
checksumfile-cmd = /sbin/md5 -q
checksumstring-cmd = /sbin/md5 -qs
tail-cmd = /usr/bin/tail
sips-cmd = /usr/bin/sips
ls-cmd = /bin/ls
zip-cmd = /usr/bin/zip
rsync-cmd = /usr/bin/rsync
